html{
    height: 100%;
}

.header {
    margin: 0 auto;
    max-width: 1024px;
    background-color: #FFFCF7;
    
}

body {
    margin: 0%;
    padding: 0%;
    background-color: #F1EEDE;
    height: 100%;
    
}

.menu {
    margin: 0 auto;
    max-width: 1024px;
    background-color: #FFFCF7;
    font-size: 150%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    
}

ul, li {
    margin: 0%;    
}

.menu li {
    display: inline;
}

.menupoint {
    padding: 7%
}

.content {
    margin: 0 auto;
    max-width: 1024px;
    background-color: #FFFCF7;
    font-size: 110%;
    text-align: justify;
    overflow: hidden;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
}


a {
    color: #4B3E31;
    text-decoration: none;
}

a:visited {
    color: #4B3E31;
}

a:hover {
    color: #8F90B5;
}

img {
    
    max-width:100%;
    height:auto;
    border: none;
}

.copy {
    margin: 0 auto;
    max-width: 1024px;
    background-color: #FFFCF7;
    text-align: right;
    padding: 2%;
}

.card {
    display: inline-block;
    width: 220px;
    text-align: center;    
}

.center {
    display: block;
    margin: 0 auto;
}

.shadow {
    margin: 0 auto;
    max-width: 1024px;
    box-shadow: 0 0 10px 7px #DFDAD1;
}

.aboutchar {
    width: 70%;
    margin-left: 15%;
}

.aboutchar p, h3{
    overflow: hidden;
    padding-left: 20px;
    text-align: justify;

}

.aboutchar img {
    float: left;
}