#head {
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: #F5ECCE;
    border-radius: 50px;
}

body {
    background-color: #C5B09B;
}

.menu {
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 2%;
    background-color: #F5ECCE;
    width: 60%;
    border-radius: 20px;

    text-align: center;
}

.menupoint {
    padding: 7%
}

.content {
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #F5ECCE;
    border-radius: 50px;
    padding: 2%;
    font-size: 110%;
    text-align: justify;
}

a {
    color: #4B3E31;
    text-decoration: none;
}

a:visited {
    color: #4B3E31;
}

a:hover {
    color: #8F90B5;
}

img {
    max-width:100%;
    height:auto;
    border: none;
}

.copy {
    margin-left: 75%;
    padding-top: 1%;
}

.card {
    display: inline;
    padding: 2%
    
}

.center {
    display: block;
    margin: 0 auto;
}

